<%= render 'shared/errors', obj: @marketer %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @marketer do |f| %>
      <%= f.label :marketername %>
      <%= f.text_field :marketername %>
      
      <%= f.label :email %>
      <%= f.email_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.submit(@marketer.new_record? ? 'Register' : 'Edit profile', class: "btn btn-success") %>
    <% end %>
  </div>
</div>