<%= render 'shared/page_title', title: "All Marketers" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Ideas", ideas_path %>
  </li>
  <li class="active">
    <%= link_to "Marketers", marketers_path %>
  </li>
</ul>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    
  </div>
</div>

<% @marketers.each do |marketer| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <%= link_to gravatar_for(marketer, size: 200), marketer_path(marketer) %>
      <p>
        <h5>Marketer name: <%= marketer.marketername %></h5>
      </p>
    </div>
  </div>

<% end %>
<hr>
<div class="container">
    <div class="row">
      <ul class="thumbnails list-unstyled">
        <li class="col-md-4">
          <div class="thumbnail" style="padding: 0">
            <div style="padding:4px">
              <a href="http://s1045.photobucket.com/user/Russell_Powers/media/Untitled-2_zpssa57hbts.png.html" target="_blank"><img src="http://i1045.photobucket.com/albums/b457/Russell_Powers/Untitled-2_zpssa57hbts.png" border="0" alt=" photo Untitled-2_zpssa57hbts.png"/></a>
            </div>
            <div class="caption">
              <h2>Project A</h2>
              <p>My project description</p>
              <p><i class="icon icon-map-marker"></i> Place, Country</p>
            </div>
            <div class="modal-footer" style="text-align: left">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"><b>60%</b><br/><small>FUNDED</small></div>
                <div class="col-md-4"><b>$400</b><br/><small>PLEDGED</small></div>
                <div class="col-md-4"><b>18</b><br/><small>DAYS</small></div>
              </div>
            </div>
          </div>
        </li>
        <li class="col-md-4">
          <div class="thumbnail" style="padding: 0">
            <div style="padding:4px">
             <a href="http://s1045.photobucket.com/user/Russell_Powers/media/a164329a-7998-45e4-92b2-47686a91de44_zpsorhyraor.jpg.html" target="_blank"><img src="http://i1045.photobucket.com/albums/b457/Russell_Powers/a164329a-7998-45e4-92b2-47686a91de44_zpsorhyraor.jpg" border="0" alt=" photo a164329a-7998-45e4-92b2-47686a91de44_zpsorhyraor.jpg"/></a>
            </div>
            <div class="caption">
              <h2>Project B</h2>
              <p>My project description</p>
              <p><i class="icon icon-map-marker"></i> Place, Country</p>
            </div>
            <div class="modal-footer" style="text-align: left">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only">60% Complete</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"><b>250%</b><br/><small>FUNDED</small></div>
                <div class="col-md-4"><b>$50000</b><br/><small>PLEDGED</small></div>
                <div class="col-md-4"><b>FUNDED</b><br/><small>AUG 5</small></div>
              </div>
            </div>
          </div>
        </li>
       
</div>