<%= render 'shared/page_title', title: "ideas for " + @style.name + " food" %>

<ul class="nav nav-tabs">
  <li class='active'>
    <%= link_to "ideas", ideas_path %>
  </li>
  <li>
    <%= link_to "Ideas", marketers_path %>
  </li>
</ul>

<%= will_paginate @idea %>

<% @style.ideas.each do |idea| %>
  <div class="row">
    
    <div class="col-md-2">
      <section class="marketer_info center">
        <%= link_to gravatar_for(idea.marketer, size: 100), marketer_path(idea.marketer) %>
        <h5>Ideas name: <%= idea.marketer.marketername %></h5>
      </section>
    </div>
    
    <div class="col-lg-6 well">
      <h4><%= link_to idea.name, idea_path(idea) %></h4>
      <p><%= idea.summary %></p>
      <p>Style: <%= render idea.styles %></p>
      <p>Ingredients: <%= render idea.ingredients %></p>

      <p>
        <span class='quiet'><small> created: <%= time_ago_in_words(idea.created_at) %> ago, </small></span>
        <span class='quiet'><small> updated: <%= time_ago_in_words(idea.updated_at) %> ago</small></span>
      </p>
      <div class="pull-right">
        <%= link_to like_idea_path(idea, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= idea.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_idea_path(idea, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= idea.thumbs_down_total %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag(idea.picture.url, size: "250x150", class: "gravatar") if idea.picture? %>
    </div>
    
  </div>
  <hr/>
<% end %>

<%= will_paginate @idea %>